*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(21, 169, 214);
}
main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0,0, 0.473);
}